<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="includes/base :: css"></head>
<!-- body -->

<body class="main-layout">
    <!-- loader  -->
    <div th:replace="includes/base :: loader"></div>
    <!-- end loader -->
    
    <!-- header -->
    <header th:replace="includes/base :: navbar"></header>
    <!-- end header -->
    
  <!--for demo wrap-->
  <section>
  <h1>Table Stock Sayur</h1>
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Stock</th>
          <th>Action</th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr th:each="inventories : ${list}">
            <td th:text="${inventories.name}" ></td>
            <td th:text="${inventories.description}"></td>
            <td th:text="${inventories.stock}"></td>
            <td>
                <div class="btn-group " role="group " aria-label="Basic example ">
                    <a th:href="@{/inven/{id}/edit(id=${inventories.id})}"  class="btn btn-info text-white">
                        <i class='bx bx-pencil'></i>
                    </a>
                    <form onSubmit="return confirm('Do you really want to delete to-do?')" method="POST" action="#" th:action="@{/inven/{id}/delete(id=${inventories.id})}">
                        <button type="submit" class="btn btn-danger text-white "><i class="bx bx-trash"></i></button>
                    </form>
                </div>
            </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

  <div th:replace="includes/base :: script"></div>
  
</html>